In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import  accuracy_score

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df.sample(5)

,age,weight,height,income_lpa,smoker,city,occupation,insurance_premium_category
13,55,89.6,1.73,32.0,True,Karachi,retired,High
25,26,61.9,1.70,5.5,False,Peshawar,unemployed,Low
12,28,62.1,1.68,7.5,False,Mardan,freelancer,Low
3,52,81.3,1.72,22.0,True,Islamabad,government_job,High
9,61,95.5,1.65,30.0,True,Faisalabad,retired,High

In [4]:
df_feat = df.copy()

### Feature Engineering|

In [5]:
# Feature 1: BMI
df_feat["bmi"] = df_feat["weight"] / (df_feat["height"] ** 2)

In [7]:
# Feature 2: Age Group
def age_group(age):
    if age < 25:
        return "young"
    elif age < 45:
        return "adult"
    elif age < 60:
        return "middle_aged"
    return "senior"

In [8]:
df_feat["age_group"] = df_feat["age"].apply(age_group)

In [10]:
# Feature 3: Lifestyle Risk
def lifestyle_risk(row):
    if row["smoker"] and row["bmi"] > 30:
        return "high"
    elif row["smoker"] and row["bmi"] > 27:
        return "medium"
    else:
        return "low"

In [11]:
df_feat["lifestyle_risk"] = df_feat.apply(lifestyle_risk, axis=1)

In [12]:
tier_1_cities = ["Lahore", "Islamabad", "Peshawar", "Karachi"]
tier_2_cities = ["Mardan", "Quetta", "Faisalabad","Rawalpindi","Multan","Sialkot","Gujranwala","Hyderabad","Sukkur","Bahawalpur",
    "Sargodha","Abbottabad","Haripur","Swat","Kohat","Dera Ghazi Khan","Okara","Sheikhupura","Rahim Yar Khan","Chiniot"
]

In [13]:
# Feature 4: City Tier
def city_tier(city):
    if city in tier_1_cities:
        return 1
    elif city in tier_2_cities:
        return 2
    else:
        return 3

In [14]:
df_feat["city_tier"] = df_feat["city"].apply(city_tier)

In [15]:
df_feat.drop(columns=['age', 'weight', 'height', 'smoker', 'city'])[['income_lpa', 'occupation', 'bmi', 'age_group', 'lifestyle_risk', 'city_tier']]

,income_lpa,occupation,bmi,age_group,lifestyle_risk,city_tier
0,50.0,private_job,24.986150,middle_aged,low,2
1,18.0,freelancer,23.673469,adult,low,1
2,12.0,private_job,23.843703,adult,low,1
3,22.0,government_job,27.481071,middle_aged,medium,1
4,35.0,private_job,24.586542,adult,low,1
5,28.0,retired,33.131342,middle_aged,high,2
6,5.0,student,22.145329,young,low,2
7,40.0,government_job,26.778167,middle_aged,low,2
8,15.0,freelancer,23.384859,adult,low,2
9,30.0,retired,35.078053,senior,high,2
10,14.0,private_job,23.562806,adult,low,1
11,26.0,government_job,27.182335,middle_aged,medium,1
12,7.5,freelancer,22.002551,adult,low,2
13,32.0,retired,29.937519,middle_aged,medium,1
14,20.0,private_job,23.271605,adult,low,1
15,17.0,government_job,23.045740,adult,low,2
16,25.0,retired,35.237335,senior,high,2
17,29.0,private_job,26.528510,middle_aged,low,2
18,6.0,unemployed,22.338153,adult,low,1
19,34.0,government_job,30.557058,middle_aged,high,1
20,16.0,freelancer,23.346939,adult,low,2
21,23.0,private_job,25.121333,adult,low,1
22,27.0,retired,33.991896,middle_aged,high,1
23,13.5,freelancer,22.951595,adult,low,2
24,24.0,private_job,27.363969,middle_aged,low,2
25,5.5,unemployed,21.418685,adult,low,1
26,31.0,retired,30.122870,middle_aged,high,1
27,19.0,government_job,23.875659,adult,low,1
28,15.0,private_job,23.154800,adult,low,2
29,28.0,retired,34.983307,senior,high,2
30,18.0,freelancer,23.921746,adult,low,1
31,21.0,private_job,25.057360,middle_aged,low,1
32,33.0,retired,33.127834,senior,high,2
33,5.0,unemployed,21.287770,adult,low,2
34,29.0,government_job,30.128929,middle_aged,high,2
35,17.5,private_job,23.524530,adult,low,1
36,10.0,freelancer,22.140346,adult,low,1
37,30.0,retired,31.453287,middle_aged,high,1
38,22.0,government_job,25.123091,middle_aged,low,2
39,4.0,student,21.045918,young,low,2
40,26.0,private_job,28.538776,middle_aged,medium,1
41,16.5,freelancer,23.748183,adult,low,2
42,27.5,retired,32.596898,middle_aged,high,2
43,19.5,private_job,23.395062,adult,low,1
44,6.5,unemployed,21.408297,young,low,1
45,25.0,government_job,27.450605,middle_aged,low,1
46,32.5,retired,35.886134,senior,high,2
47,20.0,private_job,24.468650,adult,low,2

In [19]:
# Select features and target
X = df_feat[["bmi", "age_group", "lifestyle_risk", "city_tier", "income_lpa", "occupation"]]
y = df_feat["insurance_premium_category"]

In [21]:
X, y

(          bmi    age_group lifestyle_risk  city_tier  income_lpa  \
 0   24.986150  middle_aged            low          2        50.0
 1   23.673469        adult            low          1        18.0
 2   23.843703        adult            low          1        12.0
 3   27.481071  middle_aged         medium          1        22.0
 4   24.586542        adult            low          1        35.0
 5   33.131342  middle_aged           high          2        28.0
 6   22.145329        young            low          2         5.0
 7   26.778167  middle_aged            low          2        40.0
 8   23.384859        adult            low          2        15.0
 9   35.078053       senior           high          2        30.0
 10  23.562806        adult            low          1        14.0
 11  27.182335  middle_aged         medium          1        26.0
 12  22.002551        adult            low          2         7.5
 13  29.937519  middle_aged         medium          1        32.0
 14  23.271605        adult            low          1        20.0
 15  23.045740        adult            low          2        17.0
 16  35.237335       senior           high          2        25.0
 17  26.528510  middle_aged            low          2        29.0
 18  22.338153        adult            low          1         6.0
 19  30.557058  middle_aged           high          1        34.0
 20  23.346939        adult            low          2        16.0
 21  25.121333        adult            low          1        23.0
 22  33.991896  middle_aged           high          1        27.0
 23  22.951595        adult            low          2        13.5
 24  27.363969  middle_aged            low          2        24.0
 25  21.418685        adult            low          1         5.5
 26  30.122870  middle_aged           high          1        31.0
 27  23.875659        adult            low          1        19.0
 28  23.154800        adult            low          2        15.0
 29  34.983307       senior           high          2        28.0
 30  23.921746        adult            low          1        18.0
 31  25.057360  middle_aged            low          1        21.0
 32  33.127834       senior           high          2        33.0
 33  21.287770        adult            low          2         5.0
 34  30.128929  middle_aged           high          2        29.0
 35  23.524530        adult            low          1        17.5
 36  22.140346        adult            low          1        10.0
 37  31.453287  middle_aged           high          1        30.0
 38  25.123091  middle_aged            low          2        22.0
 39  21.045918        young            low          2         4.0
 40  28.538776  middle_aged         medium          1        26.0
 41  23.748183        adult            low          2        16.5
 42  32.596898  middle_aged           high          2        27.5
 43  23.395062        adult            low          1        19.5
 44  21.408297        young            low          1         6.5
 45  27.450605  middle_aged            low          1        25.0
 46  35.886134       senior           high          2        32.5
 47  24.468650        adult            low          2        20.0

         occupation
 0      private_job
 1       freelancer
 2      private_job
 3   government_job
 4      private_job
 5          retired
 6          student
 7   government_job
 8       freelancer
 9          retired
 10     private_job
 11  government_job
 12      freelancer
 13         retired
 14     private_job
 15  government_job
 16         retired
 17     private_job
 18      unemployed
 19  government_job
 20      freelancer
 21     private_job
 22         retired
 23      freelancer
 24     private_job
 25      unemployed
 26         retired
 27  government_job
 28     private_job
 29         retired
 30      freelancer
 31     private_job
 32         retired
 33      unemployed
 34  government_job
 35     private_job
 36      freelancer
 37         retired
 38  government_job
 39         student
 40     private_job
 41      freelancer
 42         retired
 43     private_job
 44      unemployed
 45  government_job
 46         retired
 47     private_job  ,
 0     Medium
 1       High
 2        Low
 3       High
 4     Medium
 5       High
 6        Low
 7     Medium
 8        Low
 9       High
 10    Medium
 11      High
 12       Low
 13      High
 14    Medium
 15       Low
 16      High
 17    Medium
 18       Low
 19      High
 20    Medium
 21    Medium
 22      High
 23       Low
 24    Medium
 25       Low
 26      High
 27    Medium
 28       Low
 29      High
 30    Medium
 31    Medium
 32      High
 33       Low
 34      High
 35    Medium
 36       Low
 37      High
 38    Medium
 39       Low
 40      High
 41    Medium
 42      High
 43    Medium
 44       Low
 45    Medium
 46      High
 47    Medium
 Name: insurance_premium_category, dtype: object)

In [22]:
# Define categorical and numeric features
categorical_features = ["age_group", "lifestyle_risk", "occupation", "city_tier"]
numeric_features = ["bmi", "income_lpa"]

In [27]:
# Create column transformer for OHE
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", OneHotEncoder(), categorical_features),
        ("num", "passthrough", numeric_features)
    ]
)

In [28]:
# Create a pipeline with preprocessing and random forest classifier
pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor), 
    ("classifier", RandomForestClassifier(random_state=42))
])

### Train Test Split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('cat', OneHotEncoder(),
                                                  ['age_group',
                                                   'lifestyle_risk',
                                                   'occupation', 'city_tier']),
                                                 ('num', 'passthrough',
                                                  ['bmi', 'income_lpa'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

### Evaluation

In [30]:
# Predict and Evaluate
y_pred = pipeline.predict(X_test)
accuracy_score(y_test, y_pred)

0.9

In [31]:
X_test.sample(5)

,bmi,age_group,lifestyle_risk,city_tier,income_lpa,occupation
31,25.057360,middle_aged,low,1,21.0,private_job
23,22.951595,adult,low,2,13.5,freelancer
27,23.875659,adult,low,1,19.0,government_job
2,23.843703,adult,low,1,12.0,private_job
33,21.287770,adult,low,2,5.0,unemployed

### Export Model

In [32]:
import pickle

pickle_model_path = "model.pkl"
with open(pickle_model_path, "wb") as f:
    pickle.dump(pipeline, f)

---